Repository somenath1435/android-authenticator, changes with the labels that .github/labeler.yml gives for each.
All labels: code, gradle, markdown

.github/labeler.yml:

code: "**/*.kt"
gradle: "**/*.gradle"
markdown: "**/*.md"

testing everything
  app/src/androidTest/java/org/xwiki/android/sync/auth/AuthenticatorActivityTest.kt
Labels: code

add test2 in workflow
  .github/workflows/UI-Test.yml
Labels: none

testing1
  .github/workflows/UI-Test.yml
  app/src/androidTest/java/org/xwiki/android/sync/auth/AuthenticatorActivityTest.kt
Labels: code

testing2
  app/src/androidTest/java/org/xwiki/android/sync/auth/AuthenticatorActivityTest.kt
Labels: code

testing3
  app/src/androidTest/java/org/xwiki/android/sync/auth/AuthenticatorActivityTest.kt
Labels: code

testing4
  app/src/androidTest/java/org/xwiki/android/sync/auth/AuthenticatorActivityTest.kt
Labels: code

testing5
  app/src/androidTest/java/org/xwiki/android/sync/auth/AuthenticatorActivityTest.kt
Labels: code

testing6
  app/src/androidTest/java/org/xwiki/android/sync/auth/AuthenticatorActivityTest.kt
Labels: code

testing7
  app/src/androidTest/java/org/xwiki/android/sync/auth/AuthenticatorActivityTest.kt
Labels: code

testing8
  app/src/androidTest/java/org/xwiki/android/sync/auth/AuthenticatorActivityTest.kt
Labels: code

testing9
  app/src/androidTest/java/org/xwiki/android/sync/auth/test.kt
Labels: code

testing10
  app/src/androidTest/java/org/xwiki/android/sync/auth/test.kt
Labels: code

testing11
  app/src/androidTest/java/org/xwiki/android/sync/auth/test.kt
Labels: code

testing12
  app/src/androidTest/java/org/xwiki/android/sync/auth/test.kt
Labels: code

testing13
  app/src/androidTest/java/org/xwiki/android/sync/auth/test.kt
Labels: code

testing14
  app/src/androidTest/java/org/xwiki/android/sync/auth/test.kt
Labels: code

testing15
  app/build.gradle
  app/src/androidTest/java/org/xwiki/android/sync/auth/test.kt
Labels: code, gradle

testing16
  app/src/androidTest/java/org/xwiki/android/sync/auth/test.kt
Labels: code
